%h2 Click on a Course to view available Lessons.
%br
  .courses
    - if @courses
      .card-columns
        - @courses.each do |course|
          .card.bg-info.mb-3.text-left.text-white
            .card-body
              %h5= course.name
              %p= course.description
              %a.btn.btn-primary{:href =>"/courses/#{course.id}/lessons"} View Lessons
              - if current_user
                %br
                - if @enrolled_course_ids.include? course.id
                  %form.form-inline{:action => "/courses/#{course.id}/withdraw", :method => 'post'}
                    %button.btn.btn-primary{:type => 'submit', :value => 'Withdraw From Course'} Withdraw
                - else
                  %form.form-inline{:action => "/courses/#{course.id}/enrol", :method => 'post'}
                    %button.btn.btn-primary{:type => 'submit', :value => 'Enrol For Course'} Enrol
    - else
      %p Sorry, there are no courses to display. Check back later