%h2 Add a Lesson
%br
%form{:action => '/lessons', :method => 'post', :role => 'form'}
  .form-group.form-alignment
    %lable{:for => 'courseTitle'} Select a Course your adding this lesson to:
    %select.form-control.custom-select.mr-sm-2{:id => 'course', :name => 'lesson[course_id]'}
      %option.selected Choose a Course
      - @courses.each do |course|
        %option{:value => course.id} #{course.name}
    - if @errors
      = @errors[:course_id][0]
  .form-group.form-alignment
    %lable{:for => 'lessonDay'} Lesson Number
    %select.form-control.custom-select.mr-sm-2{:id => 'lessonDay', :name => 'lesson[day_id]'}
      %option.selected Choose a Lesson Day
      - @days.each do |day|
        %option{:value => day.id} #{day.name}
    - if @errors
      = @errors[:day_id][0]
  .form-group.form-alignment
    %lable{:for => 'lessonTitle'} Lesson Title
    %input.form-control{:type => 'text', :id => 'lessonName', :name => 'lesson[name]', :value => '', :placeholder => 'Eg. Lesson 101'}
    - if @errors
      = @errors[:name][0]
  .form-group.form-alignment
    %lable{:for => 'lessonDescription'} Brief Lesson Description
    %textarea.form-control{:id => 'lessonDescription', :name => 'lesson[description]', :value => '', :placeholder => 'Lesson One introduces ...'}
    - if @errors
      = @errors[:description][0]
  .form-group.form-alignment
    %lable{:for => 'lessonUrl'} Lesson Url
    %input.form-control{:type => 'text', :id => 'lessonUrl', :name => 'lesson[url]', :value => '', :placeholder => 'Eg. Lesson 101'}
    - if @errors
      = @errors[:url][0]
  %br
  %button.btn.btn-success{:type => 'submit'} Save Lesson
